/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require chosen
 *= require_tree .
 *= require_self
 */


 .card {
	 margin-left: 30%;
	 margin-right: 30%;

 }

.container {
	margin-left: : 22%;
}

.row{
	padding-bottom: 9px;
}

label{
	font-size: 25px;
	font-family: 'Suranna', serif;
}
.btn-primary{
	margin-bottom: -10px;
}

p.alert {
	padding: 5px;
}
#schedule{
	text-align: center;
	font-family: 'Vollkorn SC', serif;
	font-size: 75px;
	padding-bottom: 0px;
}

#email {
	font-family: 'Cormorant Upright', serif;
	font: "red";
	text-align: center;
}

#hospital {
	border-style: solid;
	border-color: red;
	float: left;
}
.w3-card-4 {
	margin-left: 5px;
}

.TLG {
	margin-left: 25px;
	margin-top: 1em;
}

#bigpicture {
	size: 500x450;
}

#logo {
 display: flex;
 justify-content: center;
}

.caption {
margin-left: 14px;
margin-bottom: 20px;

}
