/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require chosen
 *= require_tree .
 *= require_self
 */

 body {
  background-color: #c8f7f1 !important;
  font-family: Verdana, Geneva, sans-serif;
 }

.w3-container {
	color: black;
}



@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16b'; }
label[for*='4']:before { content: '\f1a9'; }

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}



.top-half {
	display: inline-block;
	height: 500px;
	width: 100%;
}

.row-left-block {
	float: left;
	width: 30%;
	padding-left: 3em;
}
 
.admin {
	padding-left: 3em;
}

.top-left {
	width: 100%;
}

.row-logo {
	float: left;
	width: 50%
}

.row-hospital {
	float: right;
	width: 50%;
	padding-left: 3em;
}

.description {
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	height: 220px
	width: 100%;
}


.row-right-block {
	float: right;
	width: 70%;
	padding-left: 10em;
}
.picture-logic {
	width: 550px;
	height: 300px;
}

#tab-block {
	width: 100%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 20px;
}


 .card {
	 margin-left: 30%;
	 margin-right: 30%;

 }

.container {
	margin-left: : 22%;
}

.row{
	padding-bottom: 9px;
}

label{
	font-size: 25px;
	font-family: 'Suranna', serif;
}
.btn-primary{
	margin-bottom: -10px;
}

p.alert {
	padding: 5px;
}
#schedule{
	text-align: center;
	font-family: 'Vollkorn SC', serif;
	font-size: 75px;
	padding-bottom: 0px;
}

#email {
	font-family: 'Cormorant Upright', serif;
	font: "red";
	text-align: center;
}

#hospital {
	border-style: solid;
	border-color: red;
	float: left;
}
.w3-card-4 {
	margin-left: 5px;
}

.TLG {
	margin-left: 25px;
	margin-top: 1em;
}

#bigpicture {
	size: 500x450;
}

#logo {
 display: flex;
 justify-content: center;
}

.caption {
margin-left: 14px;
margin-bottom: 20px;

}

#restpic {
  float: right;
}